*{
    margin: 0;
    padding: 0;
    font-family: "Halvetic Neue",sans-serif;
    box-sizing: border-box;
}

body{
    background: #333;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #000;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
}

.calculator-input{
    margin-bottom: 20px;
    padding-left: 5px;
}

.calculator-input p{
    width: 100%;
    font-size: 3.5rem;
    text-align: end;
    background-color: transparent;
    color: #FFF;
    border: none;
    outline: none;
    word-wrap: break-word;
    word-break: break-all;
}

button{
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 70%;
    cursor: pointer;
    height: 65px;
    width: 65px;
}

button:active,button:focus{
    filter: brightness(120%);
}

.calculator-keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 15px;
    grid-column-gap: 10px;
}

.key-zero{
    grid-column: span 2;
    width: 100%;
    border-radius: 30px;
}

.operations{
    background-color: #ff9501;
}

.otherKeys{
    background-color: #a6a6a6;
    color: #000;
}

.title{
    position: absolute;
    bottom: 100;
}
